


html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  background-color: var(--background-light-color);
  font-family: 'Anonymous Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --background-dark-color: #101010;
  --background-light-color: #F8FAFC;
  --primary-button-color: #4e7cff;
  --secondary-button-color: #535c77;
  --warning-button-color: #eeb800;
  --font-family: 'Anonymous Pro';
  --base-size: 1em;
  --type-scale: 1.25;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


p {
  font-size: var(--base-size)
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {font-size: var(--h2);}

h3 {margin:0; font-size: var(--h3);}

h4 {font-size: var(--h4);}

h5 {font-size: var(--h5);}

small, .text_small {font-size: calc(var(--base-size) / var(--type-scale));}

header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav {
  display: none;
} 

header > h2 {
  font-weight: bolder;
}

main {
  padding: 10em;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .15fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.main-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.main-card > h1 {
  font-size: x-large;
}

.main-links {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.button-primary {
  padding: 1em 4em;
  margin: .5em .5em;
  border-radius: .25em;
  width: 100%;
  cursor: pointer;
  font-size: x-large;
  font-family: var(--font-family);
  font-weight: bold;
  color: white;
  background-color: var(--primary-button-color);
  border-color: transparent;
}

.button-primary:focus {
  outline: #ea4c8900;
}

.button-secondary {
  padding: 1em 4em;
  border-radius: .25em;
  margin: .5em .5em;
  width: 100%;
  cursor: pointer;
  font-size: x-large;
  font-family: var(--font-family);
  font-weight: bold;
  color: white;
  background-color: var(--secondary-button-color);
  border-color: transparent;
}


.button-warning {
  padding: 1em 4em;
  border-radius: .25em;
  margin: .5em .5em;
  cursor: pointer;
  width: 100%;
  font-size: x-large;
  font-family: var(--font-family);
  font-weight: bold;
  color: white;
  background-color: var(--warning-button-color);
  border-color: transparent;
}


@viewport {
  width: device-width;
  zoom: 0.5;
}

@media (min-width: 58.1875em) {

 .button-primary {
   font-size: medium;
   width: 33%;
 }

 .button-secondary {
   font-size: medium;
   width: 33%;
 }

 .button-warning {
   font-size: medium;
   width: 33%;
 }

 .main-card {
   align-items: flex-start;
   padding: 3em 3em;
   z-index: 1;
   border-radius: 1em;
   border: solid 2px transparent;
   background-color: transparent;
   background: rgba(255,255,255, 0.5); 
   backdrop-filter: blur(3em);
   background-clip: padding-box;
   box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03)
 }

 .main-links {
   flex-flow: row nowrap;
   align-items: flex-start;
 }

}